@import url(./global.css);

:root{
    --color-white: #feeffe;
    --color-black: #132132;
}
.config-page{
    width: 90vw;
    height: 100vh;
    margin:auto;
    
}
.config-color-black{
    color: var(--color-white);
    background-color: #132132;
}

.config-color-white{
    color: var(--color-black);
    
}
.navigator{
    background-color: rgba(0   , 0, 0, 0.5);
    border-radius: 10px;
}

.navigator, .navigator ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1rem;
    
}
.navigator, .navigator ul li:hover {
  font-size: 1.5rem;
  transition: all 100ms;

}  
.navigator ul a{
    color: var(--color-white);
}

.logo{
    width: 5rem;
    height: 5rem;

}

.home-page{
    background-image: url(./images/mais-de-95-dos-brasileiros-consideram-a-saude-do-pet-tao-importante-quanto-a-da-familia.jpg);
    background-size: cover;
    background-blend-mode:multiply;
    background-color: #988659;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.usuario{
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-white);
    border-radius: 10px;
}

.barra-de-pesquisa{
    width: 100%;
    border: 2px solid var(--color-white);
    height: 2.2rem;
    border-radius: 5px;
    border-style: double;
    margin-bottom: 1rem;
}

.central-box{
    margin-top: 5rem;
   /* background-color: var(--color-white);*/
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    color: var(--color-black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}
.central-box h2{
    text-align: center;
    background-blend-mode: color-burn;
    background-color:#DAF95C;
    padding: 1rem;
    border-radius: 5px;
    font:  1.5rem/2 paozao, sans-serif;  
    border: 5px solid black;
    box-shadow: inset 5px 5px red;
}

/*    -webkit-background-clip: text;
    background-clip: text;
    background-image:url('./images/mais-de-95-dos-brasileiros-consideram-a-saude-do-pet-tao-importante-quanto-a-da-familia.jpg') ;
    color: transparent;*/
.central-box h1{
    
   
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    color: var(--color-white);
    filter: drop-shadow(5px 5px 2px red);
}

.botao{
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 10px;
    
    
}

.porque-adotar{
    margin-top: 1rem;
    display: flex;
    align-items: center;

}
.porque-adotar > h2{
    min-width: 50%;
    min-height: 50%;
   text-align: center;  

}

.porque-adotar ol{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    
}

.onde-adotar{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
;
}

.onde-adotar > h2{
text-align: center;
min-width: 50%;
}

.onde-adotar ul li{
    border-bottom: 2px solid var(--color-black);
    border-radius: 5px;
    padding-bottom: 1rem;
    
}

.porque-adotar ol li{
    border-bottom: 2px solid var(--color-black);
    border-radius: 5px;
    border-collapse: collapse;
    padding-bottom: 1rem;

}

/* Página 3 - Quais pets temos para adoção*/

.title-wich-pet{

    text-shadow: 4px 4px 4px red;

}


.imagem-2{
    background: url("https://www.doggies.com/blog/wp-content/uploads/2017/10/pet-montage-1024x1024.jpg") fixed padding-box no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}
